extends layout
block content
    .container
        h3 Find an instructor by ID
        table.table-hover
            thead
                tr
                    each i in courses_price_title
                        th= i
            tbody!= coursesid_price_data