extends layout
block content
    .container
        .row.flex-center.child-borders
            a.paper-btn.margin(href='/instructor/find_all' target='_blank') Find all instructors
            a.paper-btn.margin(href='/instructor/find_by_id/1' target='_blank') Find an instructor by ID
            a.paper-btn.margin(href='/course/find_by_id/1' target='_blank') Find a course by ID
            a.paper-btn.margin(href='/course/find_by_price/90' target='_blank') Find a course by price