extends layout.pug
block content
    .background-primary.border-white
        .row
            .col-2.col
            .col-3.col
                a(href='/from_database')
                    button.btn-block From Database
            .col-2.col
            .col-3.col
                a(href='/from_file')
                    button.btn-block From File
            .col-2.col