.gold {
    background: #d8be52 linear-gradient(
            to bottom,
            #d8be52,
            #a77d33 9%,
            #5f3f1d 93%,
            #1c140d
    );
    border-top: 2px solid #d8be52;
  border-bottom: 2px solid #1c140d;
}

.hs-wrapper {
    cursor: pointer;
    width: 200px;
    padding: 0 2px;
    border-right: none;
    border-left: none;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.hs-button.gold {
    background: linear-gradient(to bottom,
    #6f5742,
    #81615d);
}

.hs-button {
    display: block;
    text-align: center;
    border-radius: 2px;
    border: solid 3px #795548;
}

.hs-border.gold {
    box-shadow: 0px 2px 6px 0px #362c26;
    background: #a77d33 linear-gradient(to bottom,
    #d8be52,
    #d5b631 5%,
    #5f3f1d 59%,
    #362c26);
}

.hs-text.gold {
    background: radial-gradient(circle,
    #edca37 25%,
    #a77d33 75%,
    #5f3f1d);
}

.hs-text {
    display: table-cell; width: 100%;
    vertical-align: middle;
    padding: 9px 24px;
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 4px #000, 0 0 8px #000;
    font-size: 20px;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.hs-border:hover .hs-text.gold{
    background: radial-gradient(circle,
    #fed83b 22%,
    #dba23e 83%,
    #9d6224);
}
