doctype html
head
    meta(charset='UTF-8')
    title Contact Me
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
    link(rel='stylesheet' href='/style/mystyle.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    body.portfolio
nav.navbar.navbar-expand-sm.navbar-dark.bg-dark-transparent
    .container
        a.navbar-brand(href='#') PRASIT
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/') About Me
            li.division |
            li.nav-item
                a.nav-link(href='/skills') Skill
            li.division |
            li.nav-item.active
                a.nav-link(href='/contact') Contact Me
            li.division |
            li.nav-item
                a.nav-link(href='/portfolio') Portfolio
#content.d-flex.justify-content-center
    .card.text-white.bg-dark(style='max-width: 18rem;')
        .card-header Contact Me
        .card-body
            h5.card-title Prasit Tongpradit
            p.card-text
                | Phone: (+66)87-715-6651
                br
                br
                |                 E-mail: prasit_tongpradit@windowslive.com
                br
                br
                |                 LINE ID: EpicHigh
                br
                br
                |                 Website: N/A
                br
                br
                |                 Address: 67/702, Mu.2, Mahachai Mueangmai, Rama II Rd.,
                br
                |                 Khok Krabue, Amphoe Mueang, Sakmut Sakhon 74000
