doctype html
head
    meta(charset='UTF-8')
    title Skill
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/style/mystyle.css')
    body.portfolio
nav.navbar.navbar-expand-sm.navbar-dark.bg-dark-transparent
    .container
        a.navbar-brand(href='#') PRASIT
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/') About Me
            li.division |
            li.nav-item.active
                a.nav-link(href='/skills') Skill
            li.division |
            li.nav-item
                a.nav-link(href='/contact') Contact Me
            li.division |
            li.nav-item
                a.nav-link(href='/portfolio') Portfolio
.container-fluid
    #content.d-flex.justify-content-center
        h1 My Skills
    .row
        .col
        .col
            #content.d-flex.justify-content-center
                ul
                    li
                        span.badge.badge-info.skill Microsoft Office
                    li
                        span.badge.badge-info.skill Adobe Illustrator
                    li
                        span.badge.badge-info.skill Adobe Photoshop
                    li
                        span.badge.badge-info.skill Web Design
                    li
                        span.badge.badge-info.skill HTML
                    li
                        span.badge.badge-info.skill CSS
        .col
            #content.d-flex.justify-content-center
                ul
                    li
                        span.badge.badge-info.skill Social Media
                    li
                        span.badge.badge-info.skill Writing
                    li
                        span.badge.badge-info.skill Online Content Creation
                    li
                        span.badge.badge-info.skill Web Content Creation
                    li
                        span.badge.badge-info.skill Web Content Writing
        .col
