<% if (errorMessage != '') { %>
    <p; style="font-weight: bold; color: red"; id="errorMessage"><%- errorMessage; %></p>;
<% } else { %>
    You; have; registered; successful.<br>
    Your; user; id : <%- userId; %><br>
    Your; username : <%- username; %>
<% } %>